*{
	margin: 0;  
   padding: 0;  
   border: 0;
}
body{
	min-width: 700px;
}
.headblock{
	
	background-color:#7c1212;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	color:#232323;
	padding:40px;
	height:400px;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;



}
.headblock h1{
	font-size:70px;

}
.headblock h2{
	padding-top: 20px;
	font-size:40px;
	font-weight: 300;
}
.imgblock{
	
	background-image: url('selected.jpg');
	background-color: #cccccc; 
  height: 700px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}
.mainblock1{
	background-color:#7c1212;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	color:#232323;
	padding:40px;
	height:auto;
}
.mainblock1 p{
	font-size:30px;
	font-weight: 250;
	text-align: left;
	letter-spacing: 5px;
}
.mainblock11{
	background-color:#7c1212;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	color:#232323;
	padding-top:20px;
	height:auto;
}
.mainblock11 h1{
	font-size:50px;
	font-weight: 500;
	text-align: left;
}
.mainblock12{
	background-color:#7c1212;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	color:#232323;
	padding:40px;
	height:auto;
}
.mainblock12 p{
	font-size:30px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 0px;
}
.mainblock12 a{
	color:#f7ed4a;
	text-decoration: none;
}
.mainblock12 a:hover{
	color:gold;
	text-decoration: none;
}
.mainblock2{
	background-color:#232323;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	color:#7c1212;
	padding:40px;
	height:auto;
	width:auto;
}
.mainblock2 h1{
	font-size:50px;
	font-weight: 200;
	text-align: left;
	letter-spacing: 0px;
}
.mainblock2container{
	padding:40px;
	display:grid;
	grid-template-columns: auto auto;

}
.mainblock2containerc1{
	grid-column: 1;
}
.mainblock2containerc2{
	grid-column: 2;
}
.mainblock2container h1{
	text-align: center;
	padding-top:20px;
}
.mainblock2container h2{
	color:white;
	text-align: center;
	padding-top:20px;
}
.mainblock3{
	background-color:#7c1212;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	color:#232323;
	padding:40px;
	height:auto;
	width:auto;
	
}
.mainblock4{
	background-color:#232323;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	color:#7c1212;
	padding:40px;
	height:auto;
	width:auto;
	
}
.email{
	color:#f7ed4a;
}
.footer{
	background-color:#7c1212;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	color:white;
	padding:40px;
	height:auto;
	width:auto;
}

